body{
    background-color: #FFAD69;
    font-family: monospace;
}

h1{
    background-color: #4E937A;
    text-align: center;
    color: white;
}
img{
    display:;
}

div{
    background-color: #C7F2A7;
    text-align: center;
}